<h2>List product</h2>

<button id="themmoi" (click)="displayCreate()">them moi</button>
<app-add-product id="abc" style="display: none"></app-add-product>
<app-edit-product id="xyz" style="display: none"></app-edit-product>



<table class="table">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let product of productList index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><button (click)="displayEdit()">Edit</button></td>
    <td><button (click)="displayDelete()">Delete</button> <app-delete-product id="delete" style="display: none"></app-delete-product></td>
  </tr>
</table>


